name: cuaca_app
description: Aplikasi perkiraan cuaca
publish_to: 'none'

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  geolocator: ^11.0.0
  intl: ^0.19.0

flutter:
  uses-material-design: true
